<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Sistema de Administración de Obras - OXXO</title>
        <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}">
        <script>
            function mostrarContenido(seccion) {
                document.querySelectorAll('.content').forEach(content => {
                    content.style.display = 'none';
                });
                document.getElementById(seccion).style.display = 'block';
            }

            window.onload = function() {
                mostrarContenido('bienvenida');
            };
        </script>
    </head>
    <body>
        <div class="sidebar">
            <h2>Menú</h2>
            <a href="#" onclick="mostrarContenido('bienvenida')">Inicio</a>
            <a href="#" onclick="mostrarContenido('darAltaObra')">Dar de alta obra</a>
            <a href="#" onclick="mostrarContenido('darAltaTrabajador')">Dar de alta trabajador</a>
            <a href="#" onclick="mostrarContenido('asignarTrabajador')">Asignar trabajador a obra</a>
            <a href="#" onclick="mostrarContenido('darBajaObra')">Dar de baja obra</a>
            <a href="#" onclick="mostrarContenido('darBajaTrabajador')">Dar de baja trabajador</a>
            <a href="#" onclick="mostrarContenido('editarObra')">Editar obra</a>
            <a href="#" onclick="mostrarContenido('editarTrabajador')">Editar trabajador</a>
            <a href="#" onclick="mostrarContenido('consultarObras')">Consultar obras</a>
            <a href="#" onclick="mostrarContenido('consultarTrabajadores')">Consultar trabajadores</a>
            <br>
            <br>
            <p>Elaborado por:</p>
            <p>Ulises y Octavio</p>
            <!-- <ul>
                <li>Ulises Becerril Valdes</li>
                <li>Octavio Daniel Rodriguez Gonzalez</li>
            </ul>         -->
        </div>
        <div class="container">
            <!-- Sección de Bienvenida -->
            <div id="bienvenida" class="content" style="display: none;">
                <h3>Bienvenido al Sistema de Administración de Obras</h3>
                <p>Seleccione una opción del menú a la izquierda para comenzar.</p>
                <img th:src="@{/images/bg-welcome.png}" alt="Bienvenida" style="max-width: 100%; height: auto; display: block; margin: 0 auto;">
            </div>

            <!-- Sección de Dar de Alta Obra -->
            <script>
                function mostrarConfirmacion(mensaje) {
                    alert(mensaje);
                }
            </script>

            <div id="darAltaObra" class="content" style="display: none;">
                <h3>Dar de Alta Obra</h3>
                <form th:action="@{/guardarObra}" th:object="${obra}" method="post" onsubmit="mostrarConfirmacion('Obra dada de alta')">
                    <label for="nombreObra">Nombre de la obra:</label>
                    <input type="text" id="nombreObra" th:field="*{nombre}" placeholder="Ej. Edificio A" required>

                    <label for="ubicacionObra">Ubicación:</label>
                    <input type="text" id="ubicacionObra" th:field="*{ubicacion}" placeholder="Ej. Calle Falsa 123" required>

                    <label for="presupuestoObra">Presupuesto:</label>
                    <input type="text" id="presupuestoObra" name="presupuesto" required>

                    <label for="fechaInicioObra">Fecha de inicio:</label>
                    <input type="date" id="fechaInicioObra" th:field="*{fechaInicio}" required style="width: 150px;">

                    <label for="fechaFinObra">Fecha de fin:</label>
                    <input type="date" id="fechaFinObra" th:field="*{fechaFin}" required style="width: 150px;">

                    <input type="submit" value="Agregar obra">
                </form>
            </div>

            <!-- Sección de Dar de Alta Trabajador -->
            <div id="darAltaTrabajador" class="content" style="display: none;">
                <h3>Dar de Alta Trabajador</h3>
                <form th:action="@{/guardarTrabajador}" th:object="${trabajador}" method="post" onsubmit="mostrarConfirmacion('Trabajador dado de alta')">
                    <label for="nombreTrabajador">Nombre(s) del trabajador:</label>
                    <input type="text" id="nombreTrabajador" th:field="*{nombre}" placeholder="Ej. Ulises" required>

                    <label for="apellido1Trabajador">Primer apellido:</label>
                    <input type="text" id="apellido1Trabajador" th:field="*{apellido_1}" placeholder="Ej. Becerril" required>

                    <label for="apellido2Trabajador">Segundo apellido:</label>
                    <input type="text" id="apellido2Trabajador" th:field="*{apellido_2}" placeholder="Ej. Valdes" required>

                    <label for="edadTrabajador">Edad:</label>
                    <input type="number" id="edadTrabajador" th:field="*{edad}" placeholder="Ej. 35" required>

                    <label for="tipoTrabajador">Tipo:</label>
                    <input type="text" id="tipoTrabajador" th:field="*{tipo}" placeholder="Ej. Ingeniero" required>

                    <label >Obra:</label>
                    <select th:field="*{obra}" required>
                        <option value="">Seleccione una obra</option>
                        <option th:each="obra : ${obras}" th:value="${obra.id}" th:text="${obra.nombre}"></option>
                        <option value="-1">Ninguna</option>
                    </select>

                    <input type="submit" value="Agregar Trabajador">
                </form>

            </div>

            <!-- Sección de Asignar Trabajador a Obra-->
            <div id="asignarTrabajador" class="content" style="display: none;">
                <h3>Asignar Trabajador a Obra</h3>
                <form th:action="@{/trabajadorAObra}" method="post" onsubmit="mostrarConfirmacion('Trabajador asignado a obra')">
                    <!-- Seleccionar un Trabajador -->
                    <label for="trabajador_id">Seleccionar trabajador disponible:</label>
                    <select id="trabajador_id" name="trabajador_id" required>
                        <option th:each="trabajador : ${trabajadoresDisponibles}" th:value="${trabajador.id}" th:text="${trabajador.nombre} + ' ' + ${trabajador.apellido_1} + ' ' + ${trabajador.apellido_2}"></option>
                    </select>

                    <!-- Seleccionar una Obra -->
                    <label for="obra_id">Seleccionar Obra:</label>
                    <select id="obra_id" name="obra_id" required>
                        <option th:each="obra : ${obras}" th:value="${obra.id}" th:text="${obra.nombre}"></option>
                    </select>

                    <button type="submit" id="btnAsignarTrabajador">Asignar trabajador</button>
                </form>
            </div>

            <!-- Sección de Dar de Baja Obra -->
            <div id="darBajaObra" class="content" style="display: none;">
                <h3>Dar de Baja Obra</h3>
                <form th:action="@{/darDeBajaObra}" method="post" onsubmit="mostrarConfirmacion('Obra dada de baja')">
                    <label for="obraId">Nombre de la obra:</label>
                    <select id="obraId" name="obraId" required>
                        <option th:each="obra : ${obras}" th:value="${obra.id}" th:text="${obra.nombre}"></option>
                    </select>
                    <input type="submit" value="Dar de Baja Obra" style="width: 150px;">
                    <span>Al dar de baja la obra se cambiará la fecha de fin a el día de hoy</span>
                </form>
            </div>

            <!-- Sección de Dar de Baja Trabajador -->
            <div id="darBajaTrabajador" class="content" style="display: none;">
                <h3>Dar de Baja Trabajador</h3>
                <form th:action="@{/darDeBajaTrabajador}" method="post" onsubmit="mostrarConfirmacion('Trabajador dado de baja')">
                    <label for="trabajadorId">Nombre del trabajador:</label>
                    <select id="trabajadorId" name="trabajadorId" required>
                        <option th:each="trabajador : ${trabajadores}" th:value="${trabajador.id}" th:text="${trabajador.nombre} + ' ' + ${trabajador.apellido_1} + ' ' + ${trabajador.apellido_2}"></option>
                    </select>

                    <input type="submit" value="Dar de baja trabajador" style="width: 150px;">
                    <span>Al dar de baja el trabajador se desvinculará de cualquier obra y será marcado como inactivo</span>
                </form>
            </div>

            <!-- Sección de Editar Obra -->
            <div id="editarObra" class="content" style="display: none;">
                <form th:action="@{/editarObra}" method="post">
                    <!-- Seleccionar una Obra -->
                    <label for="editarObraSL">Seleccionar Obra:</label>
                    <select id="editarObraSL" name="obraId" required>
                        <option th:each="obra : ${obras}" th:value="${obra.id}" th:text="${obra.nombre}"></option>
                    </select>

                    <input type="submit" value="Editar obra" style="width: 150px;">
                </form>
            </div>


            <!-- Sección de Editar Trabajador -->
            <div id="editarTrabajador" class="content" style="display: none;">
                <form th:action="@{/editarTrabajador}" method="post">
                    <!-- Seleccionar un trabajador -->
                    <label for="editarTrabajadorSL">Seleccionar trabajador:</label>
                    <select id="editarTrabajadorSL" name="trabajadorId" required>
                        <option th:each="trabajador : ${trabajadores}" th:value="${trabajador.id}" th:text="${trabajador.nombre} + ' '+ ${trabajador.apellido_1} + ' '+ ${trabajador.apellido_2}"></option>
                    </select>

                    <input type="submit" value="Editar trabajador" style="width: 150px;">
                </form>
            </div>

            <!-- Sección de Consultar Obras -->
            <div id="consultarObras" class="content" style="display: none;">
                <h3>Lista de Obras</h3>
                <table>
                    <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Ubicación</th>
                        <th>Presupuesto</th>
                        <th>Fecha Inicio</th>
                        <th>Fecha Fin</th>
                        <th>Número de Trabajadores</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="obra : ${obrasCompletas}">
                        <td th:text="${obra.nombre}"></td>
                        <td th:text="${obra.ubicacion}"></td>
                        <td th:text="${obra.presupuesto}"></td>
                        <td th:text="${obra.fechaInicio}"></td>
                        <td th:text="${obra.fechaFin}"></td>
                        <td th:text="${obra.numeroTrabajadores}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <!-- Sección de Consultar Trabajadores -->
            <div id="consultarTrabajadores" class="content" style="display: none;">
                <h3>Lista de trabajadores</h3>
                <table>
                    <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Edad</th>
                        <th>Puesto</th>
                        <th>Obra actual</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="trabajadorActivo : ${trabajadoresActivos}">
                        <td th:text="${trabajadorActivo.trabajadorNombre}+' '+${trabajadorActivo.trabajadorApellido1}+' '+${trabajadorActivo.trabajadorApellido2}"></td>
                        <td th:text="${trabajadorActivo.edad}"></td>
                        <td th:text="${trabajadorActivo.tipo}"></td>
                        <td th:text="${trabajadorActivo.obraNombre}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <!-- <script src="script.js"></script> -->
    </body>
</html>
